<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN</title>

        <link rel="stylesheet" href="./static/style.css"/>
    </head>
    
    <body>
        <form action="/action_page.php">
            <label for="username">Username: </label><br>
            <input type="text" id="username" name="fname" value="qfmtgalon"><br>
            <label for="password">Password: </label><br>
            <input type="password" id="password" value="password"><br>
            <input type="submit" name="Login">
        </form>
        <button href="/register">Register</button>
    </body>
</html>
