<!DOCTYPE html>
<html>
    <body>
        <h2>REGISTER</h2>

        <form action="/action_page.php">
            <label for="fname">First Name: </label><br>
            <input type="text" id="fname" name="fname" value="Faith Mary"><br>
            <label for="lname">Last Name: </label><br>
            <input type="text" id="lname" name="lname" value="Galon"><br>
            <label for="password">Password: </label><br>
            <label for="username">Username: </label><br>
            <input type="text" id="username" name="fname" value="qfmtgalon"><br>
            <input type="password" id="password" value="password"><br>
            <label type="submit" value="Submit"></label><br>
            <input type="submit" name="Register">
        </form>
        <button href="/login">Login</button>
    </body>
</html>
